<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button>
        <h1>{{ 'Nilai a : ' + a }}</h1>
        <h1>{{ 'Rata-rata : ' + b }}</h1>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el : '#app',
        data: {
            a : 0,
            pembagi: 0,
            value : 0,
        },
        computed :{
            b : function(){
                if( this.pembagi == 0){
                    return 0
                }else {
                    return this.a / this.pembagi
                }
            },
        },
        methods : {
            openForm : function(){
                this.value = 0
                this.pembagi = 0
                for(let i = 0 ; i < 4 ; i++){
                    this.a = prompt("Masukkan nilai a")
                    this.a = Number(this.a)
                    this.value += this.a 
                    this.a = this.value
                    this.pembagi += 1
                }
            }
        }
    })
</script>
</html>