<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <div id = "app">
            <form>
                <input type="text" v-model="nama" ref="userName" placeholder="Masukkan nama" >
                <input type="submit" @click.prevent="addUser" v-if="add"  value="Tambahkan">
                <input type="submit" @click.prevent="updateUser(number)" v-else  value="Update">
            </form>
            <ul>
                <li v-for="(user,index) in users" >
                    <p> {{user.name}}
                    <input type="button" @click.prevent ="editUser(index)" value="Edit">
                    ||
                    <input type="button" @click.prevent ="deleteUser(index)" value="Hapus">
                    </p>
                </li>
            </ul>
        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el : "#app",
            data : {
                number : 0,
                nama : "",
                add : true,
                users :[
                    {name : 'Muhammad Iqbal Mubarok'},
                    {name : 'Ruby Purwanti'},
                    {name : 'Faqih Muhammad'}
                ]
            },
            methods : {
                addUser : function(){
                    if (this.nama != ''){
                        this.users.push({name : this.nama})
                        this.nama = ''
                    }else{
                        alert('Harap masukkan nama dengan benar!')
                    }
                },
                deleteUser : function (index){
                    let yakin = confirm("Anda yakin?")
                    if (yakin){
                        this.users.splice(index,1)
                    }
                },
                editUser : function(index){
                    this.add = false
                    this.number = index
                    this.nama = this.users[index].name
                },
                updateUser : function(index){
                    this.users[index].name = this.nama
                    this.nama = ''
                    this.add = true
                }
                
            }
        })
    </script>
</html>