<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id= "app">
        <form>
            <input  name="buku"  placeholder="ketikkan kata kunci" v-model="namaBuku">
        </form>
        <ul>
            <li v-for="buku in filter">{{ buku }}</li>
        </ul>
    </div>  
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el : "#app",
        data : {
            books :['Kalkulus Dasar','Fisika Dasar',
                    'Aljabar linier Elementer','Aljabar Abstrak',
                    'Algoritma pemrograman'],
            namaBuku : ''
        },
        computed : {
            filter : function(){ 
                return this.books.filter(buku =>{
                    result = buku.toLowerCase().includes(this.namaBuku.toLowerCase())
                    return result
                })
            }   
        }   
    })
</script>
</html>
